.result-message {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 540px;
  max-width: 90vw;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(#000, 0.5);

  display: none;

  &.active {
    display: block;
  }
}
